
@{
    ViewBag.Title = "Main";
}

<h2>Main Menu</h2>

<ul>
    <li><a href="/batting/average">Batting Average</a></li>
    <li><a href="/batting/onbase">On Base Percentage</a></li>
    <li><a href="/batting/costperbase">Cost Per Base</a></li>
    <li><a href="/batting/totalbases">Total Bases</a></li>
    <li><a href="/batting/runscreated">Runs Created (Individual)</a></li>
    <li><a href="/batting/teamrunscreated">Runs Created (Team)</a></li>
    <li><a href="/batting/wraa">Weighted Runs Above Average</a></li>
</ul>