@model IEnumerable<MongoBaseball.Web.Models.SimpleRunsCreatedTeam>

@{
    ViewBag.Title = "TeamRunsCreated";
}

<h2>Team Runs Created</h2>

<form method="post" action="/batting/teamrunscreated">
    <label for="year">Year: </label>
    <input name="id" id="id" type="text" />
    <button type="submit">Go!</button>
</form>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead><tr><td>Year</td><td>Team</td><td>Runs Created</td></tr></thead>
        @foreach (var batter in Model)
        {
            <tr><td>@batter.Year</td><td>@batter.TeamId</td><td>@Math.Round(batter.RunsCreated, 1)</td></tr>
        }
    </table>
}